mat-card {
    max-width: 55%;
    margin: auto;
    border: 0.1px solid lightgray;
}

.info {
  text-align: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.mat-stroked-button {
  background-color: #fff;
  color: #ee7202;
}

.center {
  text-align: right;
}
