div {
    padding: 0.5em;
    text-align: center;
}

button {
    margin-bottom: 3em;
}

mat-form-field {
    width: 50%;
}

.mat-stroked-button {
    background-color: #ee7202;
    color: #fff;
    align-content: center;
}

mat-label {
    font-size: 12pt;
    color: gray;
    text-align: center;
}