div {
    padding: 0.5em;
    text-align: center;
}

.search {
    text-align: right;
    padding-right: 3em;
}

.more-button {
    margin-bottom: 3em;
}

mat-form-field {
    width: 30%;
}

.mat-stroked-button {
    background-color: #ee7202;
    color: #fff;
    align-content: center;
}

mat-label {
    font-size: 12pt;
    text-align: center;
}

hr {
    height: 1px;
    background-color: lightgray;
    border: 0 none;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick { color: white; }